.content {
  height: 100%;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

.tableContent {
  position: relative;
  top: 10%;
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  border-left : 1px solid #666;
  border-right: 1px solid #666;
  table-layout: fixed;
}

th {
  border-bottom: 2px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  border-left : 1px solid #efefef;
  border-right: 1px solid #efefef;
  padding: 10px 5px 10px 5px;
  text-align: center;
  font-size: 1.1em;
  margin: -10px -10px -10px -10px;
}

td{
  border-bottom: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  border-left : 1px solid #efefef;
  border-right: 1px solid #efefef;
  text-align: center;
  padding: 0;
  margin: 0;
  
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:hover {
  cursor: pointer;
}

.source, .target, .eoi, .source1, .target1 {
  padding: 12px 24px 12px 24px;
  border-bottom: 0px solid #666;
  border-top: 0px solid #666;
  border-left : 0px solid #666;
  border-right: 0px solid #666;
}

.innerTable {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
}

.innerRow:nth-child(even) {
    background-color: #f2f2f2;
}

.box .tooltiptxt {
  font-size: 0.85em;
  visibility: hidden;
  width: 190px;
  background-color: white;
  color: black;
  text-align: left;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#margin {
  height: 100px;
}