.content {
  height: 100%;
}

.tableContent {
  position: relative;
  top: 10%;
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

/*th, td {
  border: 1px solid #c0bfc0;
  padding: 0.8em;
}*/

th {
  #font-size: 1em;
}
td{
  #font-size: 0.9em;
  border: 1px solid #666;
  text-align: center;
  padding: 0;
  margin: 0;
}


.source, .target, .eoi {
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  border-left : 1px solid #666;
  border-right: 1px solid #666;
}

.innerTable {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
}

.innerRow:nth-child(even) {
    background-color: #eaeaea;
}
